.books-list-item {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #feffde;
  padding: 0.93rem 1.56rem;
  border-radius: 30px;
  font-size: 1rem;
}

.books-list-item__name {
  font-weight: 600;
  flex-grow: 0.05;
}
.books-list-item__author {
  font-weight: 400;
  font-size: 0.8rem;
  flex-grow: 2;
}

.books-list-item__actions {
  display: flex;
  gap: 0.5rem;
  height: 1.56rem;
}

.books-list-item__actions img {
  cursor: pointer;
  width: 1.56rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
