.books-search {
  display: flex;
  align-items: center;
}

.books-search .books-search__header {
  color: #ecdbba;
  font-size: 1.3rem;
  font-weight: 600;
  flex-grow: 2;
}

.books-search .books-search__input {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #fdf6e8;
}

.books-search .books-search__input:focus {
  outline: none;
}

.books-search img {
  width: 1.56rem;
  position: relative;
  left: -2.18rem;
}
.books-search img[alt='close'] {
  cursor: pointer;
}
