.books-filter {
  display: flex;
  justify-content: center;
  gap: 1.56rem;
}

.books-filter__filter {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1.875rem;
  padding: 0.31rem 1.25rem;
  color: #3f453b;
  background-color: #fff;
}
.books-filter__filter.active {
  background-color: #3f453b;
  color: #fff;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .books-filter__filter {
    padding: 0.31rem 1.5rem;
  }
}
