.input {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  border: 2px solid #2a2b2a;
}

.new-book-input {
  width: 100%;
  border: 2px solid #3f413c;
}
