.new-book-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: auto 0;
}

.new-book-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.new-book-form p {
  font-weight: 1rem;
  font-weight: 500;
}

.new-book-form__buttons {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.93rem;
}

.new-book-form__buttons a {
  color: #2a2b2a;
  text-decoration: none;
}

.new-book-form__buttons button {
  cursor: pointer;
  background-color: #bdecc2;
  font-size: 1rem;
  width: 40%;
  padding: 0.93rem 0.3rem;
  border: none;
}

@media only screen and (max-width: 1200px) {
  .new-book-form {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .new-book-form {
    gap: 0;
  }
  .new-book-form__inputs {
    flex-direction: row;
  }
}
