/* COLOR PALETTE => https://colorhunt.co/palette/161616346751c84b31ecdbba */

* {
  box-sizing: border-box;
  font-family: inherit;
}

::selection {
  color: #f3f4ed;
  background: #c84b31;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: linear-gradient(
    94.55deg,
    rgba(200, 75, 49, 0.58) 3.04%,
    #ffc074 96.83%
  );
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 9px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
